/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  html, body {
    min-height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    CSS Reset ends
  */
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  :root {
  
    /*primary colors*/
    --violet: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);

    /*font-families*/
    --poppins: 'Poppins', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
  
    /*font-weights*/
    --normal: 400;
    --bold: 600;
  
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--poppins);
    color: var(--white);
    background-color: var(--violet);
    background-image: url(./images/bg-mobile.svg);
    background-size: contain;
    background-position: 0 top;
    background-repeat: no-repeat;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15vh;
    margin: 0 2rem;
  }

  .logo {
    max-width: 8.49rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  main {
    align-self: center;
    display: grid;
    gap: 3.3rem;
    height: fit-content;
    grid-template-columns: auto;
    padding: 0 3rem 4rem;
  }

  .body-image {
    width: 100%;
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }

  .content__title {
    font-size: clamp(1.5rem, 4.5vw, 2.55rem);
    font-weight: var(--bold);
    max-width: 30rem;
  }

  .content__paragraph {
    font-family: var(--open-sans);
    font-size: 1.12rem;
    max-width: 40rem;
  }

  .btn {
    text-decoration: none;
    text-align: center;
    font-size: 0.85rem;
    font-weight: var(--normal);
    color: var(--violet);
    padding: 0.8rem 4rem;
    border-radius: 4rem;
    background-color: var(--white);
    transition: all 0.5s ease;
  }

  footer {
    min-height: 10vh;
  }

  .icons-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem 2rem;
  }

  li {
    display: block;
  }

  .icons-list__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border: 0.063rem solid var(--white);
    border-radius: 50%;
    transition: all 0.5s ease;
  }

  .icon {
    width: 1.5rem;
    aspect-ratio: 3/3;
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }

  @media screen and (min-width: 600px) {

    .logo {
        max-width: 10.49rem;
    }
    
  }

  @media screen and (min-width: 1100px) {

    body {
        background-image: url(./images/bg-desktop.svg);
        background-size: cover;
      }
    
      header {
        height: 20vh;
        margin: 0 4.3rem;
      }
    
      .logo {
        max-width: 13.49rem;
        padding-top: 0.3rem;
      }
    
      main {
        grid-template-columns: 1.35fr 1fr;
        height: 70vh;
        padding: 0 5.5rem 0rem;
      }
    
      .content {
        align-items: flex-start;
        text-align: left;
        gap: 1rem;
        margin-top: 2rem;
      }
    
      .btn {
        font-size: 1.1rem;
        padding: 1rem 4rem;
      }
    
      .icons-list {
        justify-content: flex-end;
        padding: 0 5rem;
        
      }

      .icons-list__link {
        width: 2.5rem;
        height: 2.5rem;
      }
    
      .icon {
        width: 1rem;
      }
    
  }

  @media (hover: hover) {

    .btn:hover {
        background-color: var(--magenta);
        color: var(--white);
        transform: scale(1.05);
    }

    .icons-list__link:hover {
        border-color: var(--magenta);
        background-color: var(--magenta);
        transform: scale(1.15);
    }
    
  }

  /*Entrance Animation*/

  .logo {
    animation: logo-entrance 1s ease;
  }

  @keyframes logo-entrance {

    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    
  }

  .body-image {
    animation: image-entrance 1s ease;
  }

  @keyframes image-entrance {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    
  }

  .content {
    animation: content-entrance 1s ease;
  }

  @keyframes content-entrance {

    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    
  }

  .icons-list__link {
    animation: icon-entrance 1s ease;
  }

  @keyframes icon-entrance {

    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    
  }

  body {
    animation: body 2s;
  }

  @keyframes body {

    0% {
        overflow-x: hidden;
    }
    
  }

  @media (prefers-reduced-motion) {

     body,
    .logo,
    .body-image,
    .content,
    .icons-list__link {
        animation-play-state: paused;
      }
    
  }
